/*Seleção de cores*/
::selection{
	background:#fa8564;
	color:#fff;
}
::-moz-selection{
	background:#fa8564;
	color:#fff;
}

/* Overlay Color*/

.overlay{
	background:rgba(250,132,100,.7);
}

/*Text Color*/

.intro a,
.head-area,
.button,
.video-area a,
.copyright-info a,
.button:hover,
.button.alt:hover,
.single-pricing:hover .button,
.features-area .nav > li:hover > a,
.features-area .nav > li.active > a,
.call-to-action,
.footer-area{
	color:#fff;
}
.lead-form,
.video-dec h3,
.single-service h6,
.features-area .nav > li > a,
.section-title h3{
	color:#464646;
}
.single-pricing:hover h2,
.single-pricing:hover h5,
.lead-form h3,
.copyright-info a:hover,
.service-icon .icon,
.features-content h3{
	color:#fa8564;
}

/*Background Color*/

.lead-form,
.service-icon,
.service-dec,
.section-title{
	background:#fff;
}

.button,
.button.alt:hover,
.footer-area{
	background:rgba(2, 24, 37, 0.48);
}

.button:hover,
.single-pricing:hover .button,
.button.alt{
	background:#fa8564;
}

.graybg,
.input-field input[type="text"]{
	background:#ebebeb;
}

/*Border Color*/
.border1px,
.single-pricing h5{
	border-color:#ebebeb;
}