/*Seleção de cores*/
::selection{
	background:#E5536D;
	color:#fff;
}
::-moz-selection{
	background:#E5536D;
	color:#fff;
}

/* Overlay Color*/

.overlay{
	background:rgba(229,83,109,.7);
}

/*Text Color*/

.intro a,
.head-area,
.button,
.copyright-info a,
.button:hover,
.button.alt:hover,
.call-to-action,
.footer-area{
	color:#fff;
}
.lead-form,
.single-service h6,
.section-title h3{
	color:#464646;
}

.lead-form h3,
.copyright-info a:hover,
.service-icon .icon{
	color:#E5536D;
}

/*Background Color*/

.lead-form,
.service-icon,
.service-dec,
.section-title{
	background:#fff;
}

.button,
.button.alt:hover,
.footer-area{
	background:rgba(2, 24, 37, 0.48);
}

.button:hover,
.button.alt{
	background:#E5536D;
}

.graybg,
.input-field input[type="text"]{
	background:#ebebeb;
}

/*Border Color*/
.border1px{
	border-color:#ebebeb;
}