html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
img{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
a:focus {
	outline: 0;
	text-decoration: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
a:hover {
	text-decoration:none;
}

::-webkit-input-placeholder {
   opacity:1;
}

:-moz-placeholder { /* Firefox 18- */
   opacity:1;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity:1;
}

:-ms-input-placeholder {  
   opacity:1;
}

img{
	max-width:100%;
}

/* Common CSS */

.no-padding{
	padding:0;
}
.no-margin{
	margin:0;
}
.relative{
	position:relative;
}
.icon{
	font-style:normal;
}
.button.line,
.button.alt.line{
	background:transparent;
	border:2px solid;
}
.button{
	display:inline-block;
	text-align:center;
	min-width:150px;
	line-height:40px;
	text-transform:uppercase;
	font-weight:700;
	font-size:14px;
	letter-spacing: 0.05em;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	transition:all .5s ease;
}
input[type="submit"].button{
	display:inline-block;
	text-align:center;
	width:100%;
	line-height:50px;
	border:none;
}
.margin-top-bottom{
	margin:15px 0;
}
.border1px{
	border:1px solid;
}

.section-title{
	padding:10px;
}
.section-title-innr{
	padding:40px 0;
	position:relative;
}
.section-title h3{
	font-weight:700;
	text-transform:uppercase;
	position:absolute;
	line-height:100px;
	top:50%;
	margin-top:-50px;
	width:100%;
}

.learn-more{
	cursor:pointer;
}

/*Header Area*/

.head-area{
	background:url(../images/banner.jpg) fixed;
	background-size:cover;
}

.head-area .overlay{
	padding:70px 0;
}
.head-area .intro{
	padding-top:100px;
}
.head-area .intro h1{
	font-weight:900;
	padding-bottom:22px;
}
.head-area .intro h6{
	padding-bottom:70px;
}
.intro .icon{
	font-size:40px;
	line-height:65px;
}
.lead-form{
	padding:10px;
}
.lead-form h3{
	text-transform:uppercase;
	font-weight:700;
	padding-bottom:13px;
}
.lead-form h6{
	padding-bottom:20px;
}
.lead-form-innr{
	padding:30px;
}
.input-field{}
.input-field input[type="text"]{
	width:100%;
	line-height:50px;
	margin-bottom:15px;
	border:0;
	padding-left:15px;
	font-size:16px;
}
.input-field label.error{
	padding-bottom:10px;
	color:#f00;
}
#message{
	text-align:center;
	padding-top:10px;
}

.learn-more img {
	position:relative;
	-webkit-animation: downArrow 2s ease 0s infinite alternate;
	-moz-animation: downArrow 2s ease 0s infinite alternate;
	animation: downArrow 2s ease 0s infinite alternate;
}
.ebook-img{
	width: 80%;
    margin-top: -70px;
}

@-webkit-keyframes downArrow{
	0%{
		top:-10px;
	}
	100%{
		top:10px;
	}
	
}

@-moz-keyframes downArrow{
	0%{
		top:-10px;
	}
	100%{
		top:10px;
	}
	
}
@keyframes downArrow{
	0%{
		top:-10px;
	}
	100%{
		top:10px;
	}
	
}

/*Services Area*/

.lift-top{
	position:relative;
	top:-50px;
}
.service-area-innr{
	padding-bottom:20px;
}
.single-service{
	padding-bottom:30px;
}
.single-service h6{
	font-weight:700;
	text-transform:uppercase;
	padding:25px 0;
}
.service-icon,.service-dec{
	padding:10px;
}
.service-icon-innr{
	padding:65px 0;
}
.service-icon .icon{
	font-size:65px;
	line-height:70px;
}
.service-dec-innr{
	padding:23px 5px;
}

/*CTA Area*/

.call-to-action{
	background:url(../images/cta-bg.jpg) fixed;
	background-size:cover;
}

.call-to-action .overlay{
	padding:100px 0;
}
.call-to-action h2{
	font-weight:700;
	padding-bottom:18px;
}
.btn-call-to-action{
	padding-left: 30px;
    padding-right: 30px;
}

/*Footer Area*/
.footer-area{
	padding:50px 0;
}
.copyright-info{
	padding-top:40px;
}

/*Coustom Media Query CSS*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: center top !important;
		background-size: cover !important;
		height: auto;
		margin: 0 auto;
		width: 100%;
	}
	.lead-form{
		margin:0 100px;
	}
	.intro h2{
		font-size: 2.1em;
		line-height: 30px;
	}
}

@media only screen and (max-width: 767px) {
	.parallax {
		background-attachment: scroll !important;
		background-position: center top !important;
		background-size: cover !important;
		height: auto;
		margin: 0 auto;
		width: 100%;
	}
	.intro h2{
		font-size: 2.1em;
		line-height: 30px;
	}
}
